# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
build/
dist/
.DS_Store
.idea/

# generated data and outputs (regenerable)
img_data/
output/
models/
linr_params/
recons/
runs/
*.linrd
*.linrz
